---
on: [push, pull_request]
name: lint-test

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: JohnnyMorganz/stylua-action@v4
        with:
          version: latest
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --color always --check lua/ tests/

      - name: install selene
        run: |
          VERSION=$(gh release view --repo Kampfkarren/selene --json tagName -q .tagName)
          curl -L "https://github.com/Kampfkarren/selene/releases/download/${VERSION}/selene-light-${VERSION}-linux.zip" -o selene.zip
          unzip selene.zip
          chmod +x selene
          sudo mv selene /usr/local/bin/
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: selene
        run: selene lua/

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        nvim-versions: ['stable', 'nightly']
    name: test
    steps:
      - uses: actions/checkout@v4

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.nvim-versions }}

      - name: run tests
        run: make test
